body {
  padding: 0;
  margin: 0;
}

.proImg{
  position: relative;
  border-radius: 40px;
  width: 250px;
  margin: 70px 0px 20px 80px;
  display: inline-block;
  align-self: center;
  transition: transform 500ms ease-in;
}

@media (max-width:540px){
  .container{
    padding: 0;
  }

}

@media (max-width:578px) {
  .proImg{
    right: 30px;
  }
}

.aboutHeading{
  max-width: 550px;
  font-family:BogartMediumTrial;
  margin-top: 40px;
  font-size: 2.3em;
  margin-left: 20px;
  animation:aboutHeadAnime 550ms 1 linear;
}

@keyframes aboutHeadAnime{
  0%{
    opacity: 0;
    transform: translateY(100px);
  }
  40%{
    opacity: 0.5;
    transform: translateY(-50px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width:1000px){
  .aboutHeading{
    font-size: 2.1em;
    width: 500px;
    margin-left: 30px;
    margin-top: 60px;
  }
}

@media (max-width:770px){
  .aboutHeading{
    width: 400px;
    margin-left: 30px;
    font-size: 1.8em;
  }
}

@media (max-width:600px){
  .aboutHeading{
    font-size: 1.8em;
    width: 400px;
    margin-left: 20px;

  }
}

@media (max-width:499px){
  .aboutHeading{
    font-size: 1.8em;
    width: 330px;
    margin-left: 20px;
    position: relative;
    right: 30px;
  }
}



.aboutMe{
  max-width: 550px;
  font-family: BrandonRegular;
  font-size: 1.2em;
  line-height: 1.5em;
  color: #656270;
  margin-top: 40px;
  text-align: left;
  margin-left: 20px;
  animation: aboutMeAnime 600ms 1 linear;
}

@keyframes aboutMeAnime{
  0%{
    opacity: 0;
    transform: translateY(100px);
  }
  40%{
    opacity: 0.5;
    transform: translateY(-50px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width:1000px){
  .aboutMe{
    width: 700px;
    margin-left: 30px;
  }
}

@media (max-width:770px){
  .aboutMe{
    width: 400px;
    margin-left: 30px;
  }
}

@media (max-width:600px){
  .aboutMe{
    width: 400px;
    margin-left: 20px;
  }
}

@media (max-width:499px){
  .aboutMe{
    width: 357px;
    margin-left: 20px;
    font-size: 1.3em;
    position: relative;
    right: 30px;
  }
}

.aboutDiv{
  padding: 14em 0 3em;
}

@media (max-width:1000px){
  .aboutDiv{
    padding: 7em 0 3em;

  }
}

.aboutDivColA{
  width:40%;
  max-width: 400px;
}

.aboutDivColB{
  width: 40%;

}

.myPPic{
  width: 82%;
  height:90%;
  border-radius:20px;
  align-self: center;
  margin-left: 30px;
  margin-top: 60px;
  transform: translateY(0px);
  animation:enterAnime 500ms 1 linear;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

@keyframes enterAnime{
  0%{
    opacity: 0;
    transform: translateY(100px);
  }
  40%{
    opacity: 0.5;
    transform: translateY(-50px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}



@media (min-width:1200px){
  .myPPic{
    margin-left: 60px;

  }
}

@media (min-width:1000px){
  .myPPic{
    margin-left: 20px;
    width:90%;
    height: 80%;
    text-align: justify;
  }
}

@media (max-width:600px){
  .myPPic{
    width:400px;
    margin-left: 20px;
  }
}

@media (max-width:499px){
  .myPPic{
    width: 300px;
    height: 300px;
    position: relative;
    right: 30px;
  }
}





@font-face {
  font-family: BogartMediumTrial;
  src: url(Bogart-Medium-trial.ttf);
}
@font-face {
  font-family: BiotifRegular;
  src:url(Biotif-Regular.ttf);
}
@font-face {
  font-family: BrandonBold;
  src: url(BrandonText-Bold.otf);
}
@font-face {
  font-family: BrandonRegular;
  src: url(BrandonText-Regular.otf);
}

#me {
  font-family: BogartMediumTrial, sans-serif;
  font-size: 3.5rem;
  padding-top: 240px;
  animation: meAnime 600ms 1 linear;
}

@media (max-width:499px){
  #me{
    position: relative;
    right: 40px;
  }
}
@keyframes meAnime{
  0%{
    opacity: 0;
    transform: translateY(100px);
  }
  40%{
    opacity: 0.5;
    transform: translateY(-50px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width:1200px) {
  #me {
    font-size: 4.5rem;
  }
}

#headContainer {
  padding: 20px;
}

#myDescription {

  font-size: 1em;
  color: #656270;
  margin-top: 10px;
  line-height: 1.7;
  padding-right:20px;
  animation: myDescriptionAnime 700ms 1 linear;
}

@media (max-width:499px){
  #myDescription{
    position: relative;
    width:370px;
    right: 40px;
  }
}

@keyframes myDescriptionAnime{
  0%{
    opacity: 0;
    transform: translateY(100px);
  }
  40%{
    opacity: 0.5;
    transform: translateY(-50px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}



#project {
  margin: 180px auto 0px;
  border-radius: 30px;
  /* background-color: #FEFFDE; */
  background-image: linear-gradient(#FFF5C0, #F6DFEB);
  transition: transform 500ms ease-in;
}

#project:hover {
  transform: translateZ(-20px);
  transform: translateY(-5px);
  /* box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1); */
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

#project:hover .proImg {
  transform: translateY(-15px);
}

#project:hover .atInfo {
  transform: translateY(-15px);
}

#project:hover .projectHead {
  transform: translateY(-15px);
}

#project:hover .explainPara {
  transform: translateY(-15px);

}


@media (max-width:578px){
  #project {
    width: 400px;
  }
  .proImg{
    width:200px;
    margin: 70px 40px 20px 0;
  }
}

@media (max-width:1200px){
  .proImg{
    width:200px;
    margin: 70px 0px 20px 40px;
  }
}

.anchorButton {
  width: 200px;
  background-color: #000000;
  /* Green */
  border: none;
  color: white;
  font-family: BrandonRegular, sans-serif;
  margin: 70px auto;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
}

.anchorButton:hover {
  background-color: #206A5D;
  color: #FFFFFF;
}

.atInfo {
  margin: 10px auto;
  text-align: center;
  font-family: BrandonRegular, sans-serif;
  color: #00aa00;
  transition: transform 500ms ease-in;
}

.asta {
  color: #EAF6F6;
  font-size: 0.75rem;
  margin: 20px auto;
  text-align: center;
}

.aboutContainer{
  padding: 8em 0 3em;
}

@media (min-width:544px){
  .aboutContainer{
    padding: 8em 0 5em;
  }
}

@media (min-width:1200px){
  .aboutContainer{
    padding: 14em 0 5em;
  }
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: #000000;
}

.contain {
  margin: 60px 50px 0;
}


@media (max-width:950px) {
  .contain {
    margin: 0 50px 400px;
  }
}

.col-md-8{
  margin:0 auto;
}

.colorBox1,.colorBox2 {
  width: 110px;
  height: 110px;
  position: absolute;
  border-radius: 20px;
  top:100px;
}

.colorBox3,.colorBox4{
  width: 110px;
  height: 110px;
  position: absolute;
  border-radius: 20px;
  bottom: 30px;
}

.colorBox1{
  background-image: linear-gradient(#C9CBFF,#CDF0EA);
  right: 760px;
  animation: colorBox 700ms 1 linear;
}

.colorBox2{
  background-image: linear-gradient(#FFF5B7,#FFBBCC);
  right: 80px;
  animation: colorBox 700ms 1 linear;
}

.colorBox3{
  background-image: linear-gradient(#FFE3FE,#B6C9F0);
  right: 760px;
  animation: colorBox 700ms 1 linear;
}

.colorBox4{
  background-image: linear-gradient(#2F5D62,#39A6A3);
  right: 80px;
  animation: colorBox 700ms 1 linear;
}

@keyframes colorBox{
  0%{
    opacity: 0;
    transform: translateY(100px);
  }
  40%{
    opacity: 0.5;
    transform: translateY(-50px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width:1520px){
  .colorBox1{
    right:740px;
  }
  .colorBox2{
    right:40px;
  }
  .colorBox3{
    right:740px;
  }
  .colorBox4{
    right:40px;
  }
}

@media (max-width:1450px){
  .colorBox1{
    right:700px;
  }
  .colorBox2{
    right:20px;
  }
  .colorBox3{
    right:700px;
  }
  .colorBox4{
    right:20px;
  }
}

@media (max-width:1390px){
  .colorBox1{
    right:680px;
  }
  .colorBox2{
    right:20px;
  }
  .colorBox3{
    right:680px;
  }
  .colorBox4{
    right:20px;
  }
}

@media (max-width:1320px){
  .colorBox1{
    right:640px;
  }
  .colorBox2{
    right:40px;
  }
  .colorBox3{
    right:640px;
  }
  .colorBox4{
    right:40px;
  }
}

@media (max-width:1270px){
  .colorBox1{
    visibility: collapse;
  }
  .colorBox2{
    visibility: collapse;
  }
  .colorBox3{
    visibility: collapse;
  }
  .colorBox4{
    visibility: collapse;
  }
}

.eye {
  position: relative;
  top: -20px;
  display: flex;
  left:10px;
}

@media (max-width:1150px){
  .eye{
    left:-40px;
  }
}

@media (max-width:1100px){
  .eye{
    left:-90px;
  }
}

@media (max-width:900px){
  .eye{
    left:-130px;
  }
}

@media (max-width:798px){
  .eye{
    visibility: collapse;
  }
}

.eye .eyeBall {
  position: relative;
  width: 30px;
  height: 30px;
  top: 30px;
  left: 320px;
  display: block;
  background: #000000;
  margin: 0 15px;
  border-radius: 50%;
}

.eye:hover .eyeBall::before{
    width: 15px;
    height: 15px;
}

.eye .eyeBall::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background: #FFF;
  border-radius: 50%;
}

.explainPara {
  width: 350px;
  text-align: justify;
  font-size: 18px;
  margin: 0px auto;
  font-family: BrandonRegular, sans-serif;
  transition: transform 500ms ease-in;
}

.freelanceEngageText{
  font-size: 1.2em;
  margin: 0 auto 260px;
  color: #656270;
  font-family: BrandonRegular;
  text-align: center;
}

.freelanceTag{
  text-align: center;
  margin: 260px 40px 20px;
  font-size: 3em;
  font-family: BogartMediumTrial;

}

.myPic{
  width:500px;
  height: 500px;
  border-radius: 20px;
  display:inline-block;
  align-self: center;
}

@media (min:1200px){
  .myPic{
    margin: 0 auto;
  }
}
.nav-link {
  font-size: 18px;
  margin-left: 50px;
  position: relative;
  color: #000000;
  font-family: BrandonRegular;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

@media (max-width:768px){
  .nav-link {
    margin-left: 15px;
    font-size: 17px;
  }
}

@media (max-width:576px){
  .nav-link {
    position: relative;
    left: -40px;
    font-size: 17px;
  }
}


.navbar{
  background-color: #fefaf6;
  height: 70px;
}

.projectHead {
  font-family: BogartMediumTrial, BrandonBold, sans-serif;
  text-align: center;
  /* color: #FB9300; */
  color: #000000;
  font-size: 30px;
  margin-top: 70px;
  transition: transform 500ms ease-in;
}

.bottom-container {
  background-color: #000000;
  padding-top: 30px;
  padding-bottom: 30px;
}

.flex-me {
  box-sizing: border-box;
  max-width: 100%;
  min-width: 0;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-flex: 1;
}

.headRow {
  height: 600px;
}

.headAnimation {
  border-radius: 20px;
  width: 550px;
  height: 450px;
  margin: 90px 0 0 0;
  transition: transform 250s ease-in;
  background-color: #000;
  min-height: 70vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  perspective: 10em;
  perspective-origin: 50% calc(50% - 2.5em);
  animation: headAnime 500ms 1 linear;
}

@keyframes headAnime{
  0%{
    opacity: 0;
    transform: translateY(100px);
  }
  40%{
    opacity: 0.5;
    transform: translateY(-50px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width:1400px) {
  .headAnimation {
    width: 500px;
  }
}

@media (max-width:1320px) {
  .headAnimation {
    width: 450px;
  }
}

@media (max-width:1000px) {
  #project {
    margin: 300px auto 0px;
  }
  #me {
    padding-top: 120px;
  }
  .proImg{
    width:200px;
    margin: 70px 0px 20px 100px;
  }
  .freelanceTag{
    font-size: 2em;
    margin:150px auto 20px;
  }
  .freelanceEngageText{
    margin:0 auto 0;
  }
  .nav-link {
    margin-left: 30px;
  }
  .headAnimation {
    width: 768px;
    height: 350px;
    margin: 40px auto 20px;
  }
}

@media (max-width:850px) {
  .headAnimation {
    width: 650px;
    height: 350px;
    margin: 40px auto 20px;
  }
}

@media (max-width:768px) {
  .headAnimation {
    width: 500px;
    height: 350px;
  }
}

@media (max-width:576px) {
  .headAnimation {
    width: 350px;
    height: 350px;
  }
}

@media (max-width:499px) {
  .headAnimation {
    width: 350px;
    height: 350px;
    position: relative;
    right:40px;
  }
}

.letsChat {
  font-size: 18px;
  position: relative;
  font-family: BrandonRegular;
}

.letsChat::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #000000;
}

.letsChat:hover::after {
  height: 4px;
}

.linkedinIcon{
  width: 23px;
  height: 23px;
  position: fixed;
  top: 25px;
  right:220px;
  z-index: 1;
}
.githubIcon{
  position: fixed;
  width: 23px;
  height: 23px;
  top: 25px;
  right:120px;
}

@media (max-width:1000px){
  .linkedinIcon {
    right:160px;
  }
  .githubIcon{
    right:100px;
  }
}

@media (max-width:768px){
  .linkedinIcon {
    right:110px;
  }
  .githubIcon{
    right:50px;
  }
}

@media (max-width:576px){
  .linkedinIcon {
    right:80px;
  }
  .githubIcon{
    right:20px;
  }
}

.some-element {
  overflow-anchor: none;
}

.softwareDevTag {
  text-decoration: none;
  color: #656270;
  position: relative;
}

.softwareDevTag::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.softwareDevTag:hover{
  color: #656270;
}

.softwareDevTag::after:hover {
  color: #FB9300;
}

.softwareDevTag:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  color: #FB9300;
}

.spanWorkUnderline{
  position: relative;
  text-decoration: none;
  color: #000000;
}

.spanWorkUnderline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: #FB7AFC;

}

.spanWorkUnderline:hover::after {
  height: 7px;
}
.row {
  padding: 0 20px;
}

:root {
  --boxColor: #0ff7;
  --rotateSpeed: 30s;
  --bounceSpeed: 1.5s;
}

.scene {
  position: relative;
  transform-style: preserve-3d;
  animation: sceneRotate var(--rotateSpeed) infinite linear;
}

@keyframes sceneRotate {
  to {
    transform: rotateY(360deg);
  }
}

.ball {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: lightblue;
  position: absolute;
  left: -.5em;
  bottom: 1em;
  background-image: radial-gradient(circle at top, lightblue, #000);
  animation:
    ballBounce var(--bounceSpeed) infinite ease-out,
    sceneRotate var(--rotateSpeed) infinite linear reverse;
}

@keyframes ballBounce {
  0%, 100% {
    bottom: 0.5em;
  }

  50% {
    bottom: 3em;
    animation-timing-function: ease-in;
  }
}

.ballShadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(#0007, #0000 50%);
  animation: ballShadow var(--bounceSpeed) infinite ease-out;
}

@keyframes ballShadow {
  0%, 8%, 93.5%, 100% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(2);
    opacity: 0.5;
    animation-timing-function: ease-in;
  }
}

.cube {
  width: 2em;
  height: 2em;
  transform-style: preserve-3d;
  position: absolute;
  bottom: -1em;
  left: -1em;
  animation: cubeHeight var(--bounceSpeed) infinite linear;
}

@keyframes cubeHeight {
  0%, 100% {
    height: 1.5em;
  }

  8%, 93.5% {
    height: 2em;
  }
}

.left, .right, .front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0ff7;
  box-shadow: 0 0 0.5em #000a inset;
}

.front {
  transform: translateZ(1em);
}

.right {
  transform: rotateY(90deg) translateZ(1em);
}

.back {
  transform: rotateY(180deg) translateZ(1em);
}

.left {
  transform: rotateY(270deg) translateZ(1em);
}

.top {
  position: absolute;
  width: 2em;
  height: 2em;
  background: #0ff7;
  transform: translateY(-50%) rotateX(90deg);
  box-shadow: 0 0 0.5em #000a inset;
}

.bottom {
  position: absolute;
  width: 2em;
  height: 2em;
  background: #0ff0;
  transform: translateY(50%) rotateX(90deg);
  box-shadow: 0 0 0.5em #000;
}

.floor {
  top: 1em;
  transform: translate(-50%, -50%) rotateX(90deg);
  height: 15em;
  width: 15em;
  background: radial-gradient(#0000, #000 75%), repeating-conic-gradient(from 45deg, #111 0deg 90deg, #222 90deg 180deg);
  background-size: 100%, 1em 1em;
  position: absolute;
}

.footer{
  margin:0 50px ;

}

.bottomAnimation{
  height:300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  perspective: 10em;
  perspective-origin: 50% calc(50% - 2.5em);
  margin-top:300px;
}

.bottomScene{
  position: relative;
  transform-style: preserve-3d;
   animation: sceneRotate 30s infinite linear;


}

@keyframes sceneRotate {
  to{transform: rotateY(360deg);}
}

@media (max-width:1000px){
  .bottomAnimation{
    width: 400px;
    font-size: 50px;
    margin-top:0;
  }
}

.plate{
  width: 1.7em;
  height: 1.7em;
  transform-style: preserve-3d;
  position: absolute;
  bottom: -1em;
  left: -1em;
  /* animation: cubeHeight var(--bounceSpeed) infinite linear; */
}

@keyframes cubeHeight {
  0%,100%{
    height: 1.5em;
  }
  8%,93.5%{
    height: 2em;
  }
}

.plate3 , .plate4, .plate1, .plate2{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  border-radius: 20px;

}

.plate1{
 animation: fanime 20s infinite ease;
}
.plate4{
 animation: ranime 20s infinite ease;
}
.plate2{
 animation: banime 20s infinite ease;
}
.plate3{
 animation: lanime 20s infinite ease;
}

@keyframes lanime {
  0%{
    transform:rotateY(0deg);
  }
  10%{
    transform: rotateY(45deg);
  }
  12%{
    transform: rotateY(45deg) translateZ(1em);
    background: #FFE194;
  }
  30%{
    transform: rotateY(45deg) translateZ(1em) translateY(-1em) ;
    background: #FFE194;
  }
  40%{
    transform: rotateY(45deg) translateZ(1em) translateY(-1em) translateX(1em) ;
    background: #FFE194;
  }
  42%{
    transform: rotateY(45deg) translateZ(1em) translateY(-1em) translateX(-1em) ;
    background: #FFE194;
  }
  60%{
    transform: rotateY(45deg) translateZ(1em) translateY(-1em) translateX(0em) ;
    background: #FFE194;
  }
  70%{
    transform: rotateY(45deg) translateZ(1em) translateY(1em) ;
    background: #FFE194;
  }
  80%{
    transform: rotateY(45deg) translateZ(1em) translateY(0em);
    background: #FFE194;
  }
  90%{
    transform: rotateY(45deg)  translateZ(0em);
  }
  100%{
    transform: rotateY(0deg)  ;
  }

}

@keyframes ranime {
  0%{
    transform:rotateY(0deg);
  }
  10%{
    transform: rotateY(45deg);
  }
  20%{
    transform: rotateY(45deg) translateZ(2em);
    background: #F3C1C6;
  }
  30%{
    transform: rotateY(45deg) translateZ(2em) translateY(-2em) ;
    background: #F3C1C6;
  }
  40%{
    transform: rotateY(45deg) translateZ(2em) translateY(-2em) translateX(2em) ;
    background: #F3C1C6;
  }
  50%{
    transform: rotateY(45deg) translateZ(2em) translateY(-2em) translateX(-2em) ;
    background: #F3C1C6;
  }
  60%{
    transform: rotateY(45deg) translateZ(2em) translateY(-2em) translateX(0em) ;
    background: #F3C1C6;
  }
  62%{
    transform: rotateY(45deg) translateZ(2em) translateY(2em)  ;
    background: #F3C1C6;
  }
  80%{
    transform: rotateY(45deg) translateZ(2em) translateY(0em);
    background: #F3C1C6;
  }
  90%{
    transform:  rotateY(45deg)  translateZ(0em);
  }
  100%{
    transform: rotateY(0deg)  ;
  }
}

@keyframes banime {
  0%{
    transform:rotateY(0deg);
  }
  10%{
    transform: rotateY(45deg);
  }
  20%{
    transform: rotateY(45deg);
    background:#BEEBE9;
  }
  30%{
    transform: rotateY(45deg);
    background:#BEEBE9;
  }
  40%{
    transform: rotateY(45deg) ;
    background:#BEEBE9;
  }
  50%{
    transform:  rotateY(45deg);
    background:#BEEBE9;
  }
  60%{
    transform: rotateY(45deg);
    background:#BEEBE9;
  }
  70%{
    transform: rotateY(45deg);
    background:#BEEBE9;
  }
  80%{
    transform: rotateY(45deg) ;
    background:#BEEBE9;
  }
  90%{
    transform:  rotateY(45deg);
  }
  100%{
    transform: rotateY(0deg)  ;
  }

}

@keyframes fanime {
  0%{
    transform:rotateY(0deg);
  }
  10%{
    transform: rotateY(45deg);
  }
  20%{
    transform: rotateY(45deg) translateZ(-1em);
    background: #B0E0A8;
  }
  30%{
    transform: rotateY(45deg) translateZ(-1em) translateY(1em) ;
    background: #B0E0A8;
  }
  40%{
    transform: rotateY(45deg) translateZ(-1em) translateY(1em) translateX(-1em) ;
    background: #B0E0A8;
  }
  50%{
    transform: rotateY(45deg) translateZ(-1em) translateY(1em) translateX(1em) ;
    background: #B0E0A8;
  }
  60%{
    transform: rotateY(45deg) translateZ(-1em) translateY(1em) translateX(0em) ;
    background: #B0E0A8;
  }
  70%{
    transform: rotateY(45deg) translateZ(-1em) translateY(-1em)  ;
    background: #B0E0A8;
  }
  80%{
    transform: rotateY(45deg) translateZ(-1em) translateY(0em);
    background: #B0E0A8;
  }
  90%{
    transform:   rotateY(45deg) translateZ(0em);
  }
  100%{
    transform: rotateY(0deg)  ;
  }

}
